@import url(https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap);
body{
    background-image: url("image/cinema.jpg");
    background-size: cover;
    font-family: "Arsenal SC", sans-serif;
}

h1{
    color: white;
    padding-left: 20px;
}
.realisateur{
    color: yellowgreen;
    font-size: 25px;
}
.film{
    list-style-type: upper-latin;
    color: white;
    font-size: 15px;
}
.acteur{
    list-style-type: disc;
}
